@import url('https://fonts.googleapis.com/css?family=Changa|Montserrat:400,700|Tajawal:400,700');
:root {
    --primary-color: #321c4c;
    --secondary-color: #272c46;
    --third-color: #AF3B6E;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Tajawal', sans-serif;

*/

* {
    box-sizing: border-box;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--third-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.main-header {
    position: relative;
    display: flex;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.main-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    background: #AF3B6E;
    left: 0;
    right: 0;
    height: 3px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Tajawal', sans-serif;
}

.main-header__navbar ul li {
    display: inline-block;
    padding: 0 0.5rem;
    color: white;
    font-weight: bold;
    margin-left: .2rem;
    margin-right: .2rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.main-header__navbar ul li, .main-header__navbar li a {
    transition: all .7s;
}

.main-header__navbar ul li:hover {
    transform: translate(0px, -10px);
}

.main-header__navbar ul li:hover a {
    color: #f33488;
}

.main-header__navbar ul li:last-of-type {
    border: none;
}

.main-header__navbar ul li a {
    color: white;
    text-decoration: none;
}

.toggle-button {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*    background: white;*/
}

.toggle-button span {
    display: block;
    width: 100%;
    height: 20%;
    margin: 3px 0;
    /*    background:#303030;*/
    background: white;
    border-radius: 2px;
}

.toggle-button:hover span {
    background: #303030;
}

.main-header .logo {
    cursor: pointer;
    min-width: 9.5rem;
}

.main-header .logo i {
    font-size: 130%;
    /*    margin-right: 3px;*/
}

.main-header .logo p.brand {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 2rem;
    margin-left: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-header .logo span {
    margin-left: .2rem;
    color: var(--third-color);
}

#search-bar {
    display: block;
    position: relative;
    z-index: 1;
    top: 5rem;
    width: 50rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    background: white;
    padding-right: 1.8rem;
}

.search-bar__input {
    display: block;
    border-radius: 1.5rem 0 0 1.5rem;
    background: white;
    padding: 0.5rem;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 110%;
    /*    color: #2B99E8;*/
    outline: none;
    font-family: 'Tajawal', sans-serif;
}

.search-bar__input:focus, .search-bar__input:active {
    background-color: white;
}

#search-bar span {
    color: #918F8F;
    position: absolute;
    top: 7px;
    right: 9px;
}

.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1100;
    transition: opacity 0.2s linear;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 1200;
    top: 0;
    right: 0;
    background-color: var(--secondary-color);
    width: 0;
    height: 100vh;
    transition: width 0.5s ease-in-out;
}

.mobile-nav__items {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.mobile-nav__item {
    /*    display: inline-block;*/
    width: 80%;
    height: 40px;
    margin: 1rem 0;
    background: var(--primary-color)
}

.mobile-nav__item a {
    font-size: 1.1rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: changa;
}

.shownav {
    width: 60%;
}

.show {
    opacity: 1;
}

#main-footer {
    position: relative;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2rem;
    align-items: center;
}

#container {
    background: url('../main-body.jpg');
    background-size: cover;
    min-height: 100%;
    position: relative;
}

#container::after {
    content: '';
    background: #272c46;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .8;
}

#main {
    padding-bottom: 4rem;
}

#movies-section {
    display: grid;
    width: 90%;
    /*    border: 2px solid white;*/
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    top: 6rem;
    /*    grid-template-rows: 80px 80px;*/
    grid-auto-flow: row;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(4, 15rem);
    /*    grid-auto-columns: 10rem;*/
    grid-gap: 2.5rem 3rem;
    justify-content: center;
}

.movie {
    background: white;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.quality-label {
    position: absolute;
    top: 25px;
    left: -65px;
    width: 220px;
    height: 30px;
    background: var(--third-color);
    z-index: 700;
    transform: rotate(-44deg);
    color: white;
    font-size: 120%;
    padding-top: 2px;
    text-align: center;
    /*    border: 2px solid black;*/
    box-shadow: 0 2px 8px black;
    text-shadow: 1px 1px 4px black;
}

.rating-star {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 700;
    color: yellow;
    font-size: 2.3rem;
    text-shadow: 0 0 5px white;
}

.rating-value {
    display: block;
    position: absolute;
    font-size: 95%;
    color: black;
    top: 19px;
    right: 15px;
    width: 10px;
    height: 10px;
    z-index: 701;
    font-weight: bold;
}

.movie:hover {
    box-shadow: 0px 0px 15px var(--primary-color);
}

.movie-title__container {
    position: relative;
    top: 235px;
    font-size: 80%;
    padding: 0 3px;
    display: none;
    height: 150px;
    transition: top 0.5s ease-in-out;
}

.movie:hover .movie-title__container {
    display: block;
}

.movie-title__container a {
    /*    position: absolute;*/
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.movie-title__container a h2 {
    /*    position: absolute;*/
    display: inline-block;
    width: 100%;
    height: 100%;
}

.movie-view-count__container {
    position: relative;
    top: -32px;
    display: none;
    transition: top 0.5s ease-in-out;
}

.animate-view-count__container {
    top: -5px;
}

.animate-title__container {
    top: 90px;
}

.movie .movie-title {
    top: -15px;
    position: relative;
    /* bottom: 7.8rem; */
    color: white;
    z-index: 900;
    /* text-align: center; */
    /* margin: 0 auto; */
    display: inline-block;
}

.movie .view-count {
    position: relative;
    bottom: 0;
    z-index: 900;
    color: white;
}

.movie img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overdrop-top {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background: var(--secondary-color);
    opacity: 0.8;
    z-index: 800;
    text-align: center;
    /*    transform: translateY(43px;)*/
    transition: height 0.5s ease-in;
}

.overdrop-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55%;
    background: var(--secondary-color);
    z-index: 800;
    text-align: center;
    color: white;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.75;
    transform: translateY(160px);
    transition: transform 0.5s ease-in-out;
}

.movie:hover .overdrop-bottom {
    display: block;
}

.movie:hover .overdrop-top {
    /*    display: block;*/
    /*    height: 15%;*/
}

.animate-overdrop-bottom {
    transform: translateY(0);
}

.animate-overdrop-top {
    height: 15%;
}

.movie:hover .movie-view-count__container {
    display: block;
}

.paginate-container {
    position: relative;
    z-index: 1;
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2rem;
    width: 50%;
    min-height: 3rem;
    border-radius: 3rem;
    border: 2px solid white;
    margin: 0rem auto 0rem auto;
    list-style: none;
    flex-wrap: wrap;
}

.pagination li.disabled {
    color: white;
}

.pagination li a {
    color: white;
    padding: 5px .2rem;
    font-size: 1.3rem;
    text-decoration: none;
}

.pagination li.active {
    background: #0b0f21;
    padding: .7rem;
}

.pagination li.active span {
    color: white;
}

.page-link[rel=next], .page-link[rel=prev] {
    font-size: 2.5rem;
    position: relative;
    top: -3px;
}

#scrollToTopButton {
    position: fixed;
    bottom: 90px;
    left: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    padding: 0;
    border: 0;
    width: 80px;
    height: 80px;
    /*  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);*/
    font-size: xx-large;
    outline: 0;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s;
    border: 6px solid var(--primary-color);
    transition: transform 0.2s ease-in-out;
}

#scrollToTopButton i {
    color: var(--primary-color)
    /*    color:blue;*/
}

#scrollToTopButton.show {
    visibility: visible;
    transform: scale(1);
    opacity: 0.65;
    z-index: 1000;
}

#scrollToTopButton.show:hover {
    opacity: 1;
    transform: scale(1.2);
}

@media (max-width:70rem) {
    .main-header__navbar {
        display: none;
    }
    #movies-section {
        grid-template-columns: repeat(3, 15rem)
    }
    #search-bar {
        width: 32rem;
    }
    .pages-navigation a {
        display: none;
    }
    .pages-navigation .right-arrow, .pages-navigation .left-arrow {
        display: block;
    }
    .toggle-button {
        display: block;
    }
}

@media (max-width:54rem) {
    #search-bar {
        width: 20rem;
    }
    #movies-section {
        grid-template-columns: repeat(2, 15rem)
    }
    /*
    .pagination li {
    color: white;
    padding: 10px 5px;
    }
*/
    .pagination li:nth-of-type(7), .pagination li:nth-of-type(6), .pagination li:nth-of-type(5) {
        display: none;
    }
}

@media (max-width: 40rem) {
    .pagination li:nth-of-type(4), .pagination li:nth-of-type(3), .pagination li:nth-of-type(2) {
        display: none;
    }
}

@media (max-width:34rem) {
    #search-bar {
        width: 15rem;
    }
    #movies-section {
        grid-template-columns: repeat(1, 15rem)
    }
    #scrollToTopButton {
        width: 70px;
        height: 70px;
        left: 20px;
    }
}