@import url('https://fonts.googleapis.com/css?family=Changa|Montserrat:400,700|Tajawal:400,700');
:root {
    --primary-color: #0b0f21;
    --secondary-color: #273365;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Tajawal', sans-serif;

*/

* {
    box-sizing: border-box;
}

html {
    background: var(--secondary-color);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.main-header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 3rem;
    background: var(--primary-color);
    /*    padding: 0.4rem;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}

.navbar-container {
    display: flex;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
}

.main-header__navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Tajawal', sans-serif;
}

.main-header__navbar ul li {
    display: inline-block;
    padding: 0 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 110%;
    border-left: 1px solid white;
}

.main-header__navbar ul li:hover a {
    color: #303030;
    /*    font-weight: bold;*/
    text-shadow: 0 0 5px white;
}

.main-header__navbar ul li:last-of-type {
    border: none;
}

.main-header__navbar ul li a {
    color: white;
    text-decoration: none;
}

.toggle-button {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*    background: white;*/
}

.toggle-button span {
    display: block;
    width: 100%;
    height: 20%;
    margin: 3px 0;
    /*    background:#303030;*/
    background: white;
    border-radius: 2px;
}

.toggle-button:hover span {
    background: #303030;
}

.main-header .logo {
    cursor: pointer;
    min-width: 9.5rem;
}

.main-header .logo i {
    font-size: 130%;
    /*    margin-right: 3px;*/
}

.main-header .logo i, .main-header h3 {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#search-bar {
    display: block;
    position: relative;
    top: 5rem;
    width: 50rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    background: #C4C4C4;
    padding-right: 1.8rem;
}

.search-bar__input {
    display: block;
    /*    text-align: right*/
    border-radius: 1.5rem 0 0 1.5rem;
    background: #C4C4C4;
    /*    background: white;*/
    padding: 0.5rem;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 110%;
    /*    color: #2B99E8;*/
    outline: none;
    font-family: 'Tajawal', sans-serif;
}

.search-bar__input:focus, .search-bar__input:active {
    background-color: white;
}

#search-bar span {
    color: #918F8F;
    position: absolute;
    top: 7px;
    right: 9px;
}

.backdrop{
    position: fixed;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    z-index: 100;
    transition: opacity 0.2s linear;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  width: 0;
  height: 100vh;
  transition: width 0.5s ease-in-out;
}



.mobile-nav__items {
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.mobile-nav__item {
/*    display: inline-block;*/
    width: 80%;
    height: 40px;
  margin: 1rem 0;
    background: blue
}

.mobile-nav__item a {
  font-size: 1.1rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: changa;
}


.shownav{
    width: 60%;
}
.show{
    opacity: 1;
}

#main-footer {
    background: var(--primary-color);
    /*    position: relative;*/
    width: 100%;
    height: 4rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2rem;
    align-items: center;
}

.go-to-top i {
    color: white;
    font-size: 200%;
    cursor: pointer
}

#container {
    min-height: 100%;
    margin-top: 1rem;
}

#main {
    padding-bottom: 4rem;
}

#movies-section {
    display: grid;
    width: 90%;
    /*    border: 2px solid white;*/
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    top: 6rem;
    /*    grid-template-rows: 80px 80px;*/
    grid-auto-flow: row;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(4, 15rem);
    /*    grid-auto-columns: 10rem;*/
    grid-gap: 2.5rem 3rem;
    justify-content: center;
}

.movie {
    background: white;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 5px 2px var(--primary-color);
}

.movie-title__container {
    position: relative;
    top: 235px;
    font-size: 80%;
    padding: 0 3px;
    display: none;
    height: 150px;
    transition: top 0.5s ease-in-out;
}

.movie:hover .movie-title__container {
    display: block;
}

.movie-title__container a {
    /*    position: absolute;*/
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.movie-title__container a h2 {
    /*    position: absolute;*/
    display: inline-block;
    width: 100%;
    height: 100%;
}

.movie-view-count__container {
    position: relative;
    top: -32px;
    display: none;
    transition: top 0.5s ease-in-out;
}

.animate-view-count__container {
    top: -5px;
}

.animate-title__container {
    top: 90px;
}

.movie .movie-title {
    top: -15px;
    position: relative;
    /* bottom: 7.8rem; */
    color: white;
    z-index: 600;
    /* text-align: center; */
    /* margin: 0 auto; */
    display: inline-block;
}

.movie .view-count {
    position: relative;
    bottom: 0;
    z-index: 400;
    color: white;
}

.movie img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overdrop-top {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background: var(--secondary-color);
    opacity: 0.75;
    z-index: 100;
    text-align: center;
    /*    transform: translateY(43px;)*/
    transition: height 0.5s ease-in;
}

.overdrop-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55%;
    background: var(--secondary-color);
    z-index: 100;
    text-align: center;
    color: white;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.75;
    transform: translateY(160px);
    transition: transform 0.5s ease-in-out;
}

.movie:hover .overdrop-bottom {
    display: block;
}

.movie:hover .overdrop-top {
    display: block;
    /*    height: 15%;*/
}

.animate-overdrop-bottom {
    transform: translateY(0);
}

.animate-overdrop-top {
    height: 15%;
}

/*
.movie:hover .overdrop-top{
    display: block;
}
*/

/*
.movie:hover .movie-title__container {
    display: block;
}
*/

.movie:hover .movie-view-count__container {
    display: block;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 2rem;
    width: 50%;
    min-height: 3rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    margin: 8rem auto 0 auto;
    list-style: none;
    flex-wrap: wrap;
}

.pagination li a {
    color: white;
    padding: 10px 1rem;
    font-size: 130%;
    text-decoration: none;
}

.pagination li.active {
    background: #0b0f21;
    padding: .7rem;
}

.pagination li.active span {
    color: white;
}




#scrollToTopButton {
  position: fixed;
  bottom: 40px;
  left: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  padding: 0;
  border: 0;
  width: 90px;
  height: 90px;
/*  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);*/
  font-size: xx-large;
  outline: 0;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s;
    border: 5px solid black;
}
#scrollToTopButton.show {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  z-index: 600;
}



@media (max-width:70rem) {
    .main-header__navbar {
        display: none;
    }
    #movies-section {
        grid-template-columns: repeat(3, 15rem)
    }
    #search-bar {
        width: 32rem;
    }
    .pages-navigation a {
        display: none;
    }
    .pages-navigation .right-arrow, .pages-navigation .left-arrow {
        display: block;
    }
    
    .toggle-button{
        display: block;
    }
}

@media (max-width:54rem) {
    #search-bar {
        width: 20rem;
    }
    #movies-section {
        grid-template-columns: repeat(2, 15rem)
    }
    
    .pagination li {
    color: white;
    padding: 20px 10px;
    
    }
}

@media (max-width:34rem) {
    #search-bar {
        width: 15rem;
    }
    #movies-section {
        grid-template-columns: repeat(1, 15rem)
    }
    
    #scrollToTopButton{
        width: 70px;
        height: 70px;
        left: 20px;
    }
}