.header {
    position: relative;
    background: linear-gradient(to right bottom, var(--third-color), var(--primary-color), var(--secondary-color));
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header .image-cover {
    position: relative;
}

.header img {
    z-index: 1;
    margin-right: 20px;
}

.header .block {
    display: inline-block;
    margin-right: 20px;
    flex: 50%;
}

.header .block .quality {
    color: var(--third-color);
    display: inline-block;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.header .block i {
    transform:translateY(-5px)
}

.header .block .quality p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    text-transform: capitalize;
}

@media(max-width:700px) {
    .row {
        text-align: center;
        display: block;
    }
    .movie-description {
        width: 100% !important;
    }
}

#movie-name {
    width: 100%;
    color: white;
    margin-top: 3rem;
    min-height: 4rem;
    font-size: 1.4rem
}

.movie-description {
    box-sizing: border-box;
    margin: 3rem 0rem;
    width: 80%;
    font-size: 1.5rem;
    font-family: changa;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

/*
.servers-section{
    padding: 25px 0;
    width: 25rem;
    min-height: 20rem;
    background: white;
    margin: 80px 30px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
*/

.servers-section {
    width: 20rem;
    min-height: 15rem;
    background: white;
    margin: 80px 30px;
    border: 5px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 85%;
    grid-auto-rows: 40px;
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.server {
    /*    width: 80%;*/
    background: var(--primary-color);
    /*    height: 40px;*/
    /*    margin: 10px 0;*/
    text-align: center;
    font-size: 140%;
    font-family: changa;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.1s;
    cursor: pointer;
}

.server:hover {
    transform: scale(1.05);
    border: 2px solid black;
}

.server a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.servers-movie-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.video-container {
    background: black;
    width: 100%;
    max-width: 800px;
}

.video {
    width: 100%
}

@media (max-width:70rem) {
    .servers-section {
        width: 90%;
        max-height: 15rem;
        margin: 50px 10px;
        grid-template-columns: repeat(3, 30%);
        grid-auto-rows: 40px;
        grid-gap: 10px;
        align-content: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}